<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Inclusiv.me | About </title>
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Short+Stack|Quicksand:300,400,500,700" rel="stylesheet">
	</head>
	<body>
    <div class="page-wrap">
		    <header>
          <img class="logo" src="img/logo.png" alt="Logo representing a person of unknown gender"/>
			    <h1>Inclusiv.me</h1>
  			  <h2>Small actions to  <span class="highlight">change</span> the world</h2>
		    </header>
        <nav>
          <a class="menu" href="index">Home</a>
          <a class="opened" href="about">About</a>
          <a class="menu" href="contact">Contact</a>
        </nav>
        <main>
          <h3>What is Inclusiv.me ?</h3>
          <img src="img/genderneutral.png"/ alt="Person silouhette of unknown gender">
          <p> <span class="highlight">Diversity starts with you</span>. Inclusiv.me helps you challenge your behavior to welcome diversity. Your own actions will inspire others to become more inclusive, as you do.</P>
          <h3>How it works</h3>
          <h4>Why be more inclusive ?</h4>
          <blockquote>
            <p>“Diverse companies are <span class="highlight">more profitable</span> and more innovative than those that are not.”</p>
            <cite>Fern Mandelbaum - entrepreneur, coach, teacher, and investor and Stanford Business School lecturer</cite>
          </blockquote>
          <blockquote>
            <p>“Urging an organization to be inclusive is not an attack. <span class="highlight">It's progress</span>.” </p>
            <cite>DaShanne Stokes - thought leader, sociologist, author, speaker, and pundit</cite>
          </blockquote>
          <blockquote>
            <p>“Research shows inclusive leadership can <span class="highlight">drive productivity</span>, loyalty and motivation” </p>
            <cite>DLaura Swiszczowski - Research manager at Opportunity Now</cite>
          </blockquote>
        </main>
    </div>
		<footer>
			<p>Copyright <a href="http://cornelia.works">Cornelia Laros</a> - All rights reserved</p>
		</footer>
	</body>
</html>
