<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Inclusiv.me | About </title>
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Short+Stack|Quicksand:300,400,500,700" rel="stylesheet">
	</head>
	<body>
    <div class="page-wrap">
		    <header>
          <img class="logo" src="img/logo.png" alt="Logo representing a person of unknown gender"/>
			    <h1>Inclusiv.me</h1>
  			  <h2>Small actions to <em>change</em> the world</h2>
		    </header>
        <nav>
          <a class="menu" href="/">Home</a>
          <a class="opened" href="about">About</a>
          <a class="menu" href="contact">Contact</a>
        </nav>
        <main>
          <h3>What is Inclusiv.me ?</h3>
          <img src="img/genderneutral.png"/ alt="Person silouhette of unknown gender">
          <p>Inclusiv.me helps you challenge your behavior to <em>welcome diversity</em>. Your own actions will inspire others to become more inclusive, as you do.</P>
          <h3>How it works</h3>
					<p>Inclusiv.me suggests many actions to open up to diversity, leverage powers you didn't know you had and overcome barriers to being more inclusive, specially in those situations where you want to act but don't know how to. On top of practical situations, inclusiv.me also shares resources and self-awareness questions to raise your expectations.</p>
          <h4>Why be more inclusive ?</h4>
          <blockquote>
            <p>“Diverse companies are <em>more profitable</em> and more innovative than those that are not.”</p>
            <cite>Fern Mandelbaum - entrepreneur, coach, teacher, and investor and Stanford Business School lecturer</cite>
          </blockquote>
          <blockquote>
            <p>“Urging an organization to be inclusive is not an attack. <em>It's progress</em>.” </p>
            <cite>DaShanne Stokes - thought leader, sociologist, author, speaker, and pundit</cite>
          </blockquote>
          <blockquote>
            <p>“Research shows inclusive leadership can <em>drive productivity</em>, loyalty and motivation” </p>
            <cite>DLaura Swiszczowski - Research manager at Opportunity Now</cite>
          </blockquote>
        </main>
    </div>
		<footer class="white">
			<p>Copyright <a class="white" href="http://cornelia.works">cornelia.works</a> under GNU General Public License v3.0 </p>
		</footer>
	</body>
</html>
