<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Inclusiv.me | Contact </title>
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Short+Stack|Quicksand:300,400,500,700" rel="stylesheet">
	</head>
	<body>
    <div class="page-wrap">
	    <header>
        <img class="logo" src="img/logo.png" alt="Logo representing a person of unknown gender"/>
			  <h1>Inclusiv.me</h1>
			  <h2>Small actions to  <span class="highlight">change</span> the world</h2>
		  </header>
      <nav>
        <a class="menu" href="index.html">Home</a>
        <a class="menu" href="about.html">About</a>
        <a class="opened" href="contact.html">Contact</a>
      </nav>
      <main>
        <h3>Suggest an idea</h3>
        <p>Can you think of an action that's not in the app? We'd  <span class="highlight">love</span> to hear about it!</p>
        <form method="POST" action="">
          <label for="name">Name</label>
          <input id="name" type="text" name="name">

          <label for="email">Email</label>
          <input id="email" type="email" name="email">

          <label for="message">Describe your inclusive action :</label>
          <textarea id="message" name="message"></textarea>

          <button type="submit">Share</button>
        </form>
        <img src="img/genderneutral.png"/>
      </main>
    </div>

	  <footer>
		    <p>Copyright <a href="http://cornelia.works">Cornelia Laros</a> - All rights reserved</p>
	  </footer>
	</body>
</html>
