<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
				<title>Inclusiv.me</title>
				<link rel="stylesheet" href="CSS/style.css">
				<link rel="shortcut icon" href="favicon.ico">
				<link href="https://fonts.googleapis.com/css?family=Short+Stack|Quicksand:300,400,500,700" rel="stylesheet">
	</head>
	<body>
		<div class="page-wrap">
			{% include "header.html" %}
			<nav>
				<a class="opened" href="/">Home</a>
				<a class="menu" href="about">About</a>
				<a class="menu" href="contact">Contact</a>
			</nav>
			<main>
				<h3>Give these small gestures a try</h3>
				<p>It takes little to make the world a better place. Saying thank you, changing a poster on a wall, sharing orange juice... The options are limitless. Here's some inspiration from accross the world. <sub>Category<sup>1</sup></sub> is a quick fix. <sub>Category<sup>2</sup></sub> requires minimal effort. <sub>Category<sup>3</sup></sub> is a light commitment.</p>

<!-- Prepared template for dynamic content format -->
			  <div class="flex-container">
					{% for action in actions %}
			  		<div class="flex-item">
			  			<p><sub>{{cat}}<sup>{{rank}}</sup></sub>{{content}}<cite> - by {{Author}}</cite></p>
			  		</div>
					{% endfor %}
				</div>
			</main>
		</div>
		{% include "footer.html" %}
	</body>
</html>
