<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
				<title>Inclusiv.me</title>
				<link rel="stylesheet" href="CSS/style.css">
				<link rel="shortcut icon" href="favicon.ico">
				<link href="https://fonts.googleapis.com/css?family=Short+Stack|Quicksand:300,400,500,700" rel="stylesheet">
	</head>
	<body>
		<div class="page-wrap">
			<header>
			  <img class="logo" src="img/logo.png" alt="Logo representing a person of unknown gender"/>
				<h1>Inclusiv.me</h1>
				<h2>Small actions to <span class="highlight">change</span> the world</h2>
			</header>
			<nav>
				<a class="opened" href="index.html">Home</a>
				<a class="menu" href="about.html">About</a>
				<a class="menu" href="contact.html">Contact</a>
			</nav>
			<main>
				<h3>Social</h3>
				<p>Have coffee with someone you know little</p>
				<p>Have lunch with someone from a minority and learn more about them</p>
				<p>Organize a tasting party of exotic foods, from your country of origin or from a vacation...</p>
				<p>Share a meal with someone from a minority, try their favorite foods and listen to what they like about it</p>
				<p>Pair up with someone from a minority for your next project</p>
				<p>Hang out with people from other demographics than your own</p>
				<p>Invite the new employee to have a coffee with you</p>
				<p>Invite the new employee to join you for lunch</p>
				<p>Introduce two persons you know that don't know each other</p>
				<p>Take a bit extra time to introduce someone you don't usually think of</p>
				<p>At a networking event, Talk to the person standing alone and ask them what they thought about the speaker or the buffet</p>
				<h3>Heroes</h3>
				<p>Change your screensaver to a slideshow of diverse people</p>
				<p>Change your desktop background to a slideshow of a wide array of people</p>
				<p>Find a members of an underrepresented group that you admire</p>
				<p>Watch a talk by someone from a minority on a topic you are interested in</p>
				<p>Identify successful people from minorities in your company to become mentors</p>
				<h3>Social media</h3>
				<p>Find out the balance between genders among people you follow on social networks. If it is out of balance, find and follow a few more of the under-represented category</p>
				<p>Look at the social content you share. Do you share content from one category of people more often than another?</p>
				<p>Try to retweet only female voices for a week</p>
				<p>Say Hi to new followers on social media</p>
				<p>Look at a new follower's profile and share one of their posts you find useful</p>
				<p>Invite people to join in a social media conversation you think might interest them</p>
				<p>Publish content on multiple channels to include people who might be interested but don't use a specific service</p>
				<h3>Office Space</h3>
				<p>In your office, replace a geeky decoration item by something non stereotypical, like a piece of nature</p>
				<p>Make sure you have at least one gender-neutral toilet available with a sink inside the stall</p>
				<p>Organise a <a href="">wheelchair game</a> to gain a new perspective on your office space</p>
				<h3>Culture</h3>
				<p>Read about a religion you don't know about</p>
				<p>Take a few minutes to imagine what a strong woman looks like, why, what she's capable of doing and what hobbies she enjoys</p>
				<h3>Langage</h3>
				<p>Today, instead of saying "Hey guys" try saying "Hi Folks" or "Hello everyone" </p>
				<p>Today, instead of saying "Thanks guys" try saying "Thanks y'all" or "Good job people"</p>
				<h3>You are the minority</h3>
				<p>Find a young talent to mentor</p>
				<p>Give a public speech about your area of expertise</p>
				<p>Bring a typical snack or drink from your culture for people to try out at a meeting</p>
				<p>Bring a typical snack or drink from your culture for people to try out at a meeting</p>
				<h3>Leadership and Management</h3>
				<p>Give 1% extra raise to women to bridge the salary gap a little more every time</p>
				<p>Give a leadership position to a high potential employee from a minority</p>
				<p>When recruting, give an interview to candidates who are different from your current team</p>
				<p>When you lead a new project, try to work with at least one new person</p>
				<p>When you assign people to teams, try to vary the team compositions so everyone gets to work with new persons</p>
				<p>Find out what motivates each person on your team most. Don't assume, ask them</p>
				<p>Write down 5 ideas on how inclusion and diversity can help you  meet your own and the wider organisation’s business  goals</p>
				<p>Sponsor someone with high potential who is from a group currently  under-represented in leadership to support them in realising their career  aspirations</p>
				<p>Identify the different values and drivers that  motivate those you manage or lead and do you leverage these to help improve performance</p>
				<p> ask those you manage or lead for feedback on the impact of your style and approach in supporting them to perform well and/or progress their careers</p>
				<p>Look at your team in terms of gender, ethicity, weight, height, sexual orientation... Compare that to national proportions. Is any category under-represented?</p>
				<p>Find out what are each team member's unique needs, on a personal level, just just as an employee</p>
				<h3>Self awareness</h3>
				<p>Take the <a href="https://implicit.harvard.edu/implicit/">implicit associations test</a></p>
				<p>Take 5 minutes to reflect upon how everyone is different.</p>
				<p>Think about someone you know and write down how they are different from you</p>
				<p>Think about a minority group of people and write down some of the stereotypes you come up with about them. What can you do to reduce their potential negative impact ?</p>
				<h3>Ressources</h3>
				<p>Read about <a href="https://open.buffer.com/7-simple-ways-to-to-be-more-inclusive-in-work-and-life/"> 7 ways to be more inclusive in work and life</a></p>
				<p>Read about <a href="https://www.themuse.com/advice/5-effortless-ways-to-be-more-inclusive-and-known-as-the-best-coworker-ever"> 5 Effortless Ways to Be More Inclusive </a></p>
				<p>Read about <a href="https://gender.bitc.org.uk/system/files/research/inclusive_leadership_-_from_pioneer_to_mainstream.pdf"> Inclusive Leadership </a></p>
			</main>
		</div>
		<footer>
			<p>Copyright <a href="http://cornelia.works">Cornelia Laros</a> - All rights reserved</p>
		</footer>
	</body>
</html>
